@font-face {
    font-family: 'Moonhouse';
    src: url('./Moonhouse-yE5M.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Glitch Goblin';
    src: url('./GlitchGoblin-2O87v.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Andromeda';
    src: url('./Andromeda-eR2n.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
 
  